<nav class="navbar">
        <div class="navbar-left">
          <i class="fa-solid fa-bicycle" style="color: #FFA500;"></i>
            <span class="brand-name">Rent-A-Bike</span>
        </div>
        <div class="navbar-center">
            <a href="#" class="btn-menu">Home</a>
            <a class="btn-menu" href="#">Create offer</a>
            <a class="btn-menu" href="#">My Bookings</a>
            <a class="btn-menu" href="#">My offer</a>
        </div>
        <div class="navbar-right">
          <i class="fa-solid fa-user" style="color: #FFA500;"></i>
            <a href="#" class="login-signup">Login/Signup</a>
        </div>
    </nav>