<div class="card-deck">
  <% @bikes.each do |bike| %>
    <div class="card">
      <%= image_tag bike.photos.first %>
      <div class="card-body">
        <p class="card-text"><%= bike.description %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Preis pro Tag: <%= number_to_currency(bike.price) %></li>
        </ul>
        <div class="card-footer">
          <%= link_to 'Details', bike_path(bike), class: 'btn btn-primary w-100' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
