.card-show-bike {
  overflow: hidden;
  background: black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 500px;
}

.carousel-item img {
  height: 500px;
}

.card-show-bike-infos-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

.card-show-bike-infos-text h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 5;
}


.card-show-bike-infos-text p {
  font-size: 15px;
  opacity: .7;
  margin: 0;
}


.card-show-bike-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.btn-booknow {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
